*,
html,
body {
  scroll-behavior: smooth !important;
}

.hiddenButton {
  opacity: 0;
}

#topButton {
  display: block;
  position: fixed;
  bottom: 60px;
  right: 30px;
  z-index: 99;
  font-size: 20px;
  cursor: pointer;
  border-radius: 4px;
  margin: 0 !important;
  outline: none !important;
  border: none !important;
  transform: rotate(-90deg);
  backdrop-filter: blur(3px);
  padding: 0 1em !important;
  min-width: 35px !important;
  min-height: 35px !important;
  font-weight: 700 !important;
  color: var(--silver) !important;
  font-family: "montserrat" !important;
  animation: fadeIn 1000ms ease-in-out;
  background: var(--mainGlass) !important;
  transition: var(--transition) !important;
  .upArrow {
    transition: var(--transition) !important;
  }
  &:active {
    background: black;
    box-shadow: inset 0px 0px 3px rgba(0, 0, 0, 0.8);
    color: var(--main);
  }
  &:hover {
    background: var(--silver) !important;
    color: var(--bg) !important;
    &::before {
      transform: scale(1, 1);
    }
  }
  &::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: var(--authGlass);
    border-radius: 7px;
    top: 0;
    left: 0;
    z-index: -1;
    transform-origin: top;
    transform: scale(1, 0);
    transition: var(--transition);
  }
}
