*,
html,
body {
  scroll-behavior: smooth !important;
}

.hiddenButton {
  opacity: 0;
}

#topButton {
  display: block;
  position: fixed;
  bottom: 60px;
  right: 30px;
  z-index: 99;
  outline: none !important;
  background: var(--mainGlass);
  border: none !important;
  color: var(--silver);
  cursor: pointer;
  padding: 10px 15px;
  border-radius: 7px;
  font-size: 20px;
  font-family: "montserrat" !important;
  font-weight: 700;
  transform: rotate(-90deg);
  backdrop-filter: blur(2px);
  animation: fadeIn 1000ms ease-in-out;
  transition: var(--transition);
  &:active {
    background: black;
    box-shadow: inset 0px 0px 3px rgba(0, 0, 0, 0.8);
    color: var(--main);
    transition: var(--transition);
  }
  &:hover {
    background-color: var(--secondary);
    border-color: var(--main);
    color: #fff;
    transition: var(--transition);
    &::before {
      transform: scale(1, 1);
      transition: var(--transition);
    }
  }
  &::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: var(--authGlass);
    border-radius: 7px;
    top: 0;
    left: 0;
    z-index: -1;
    // opacity: 0;
    transform-origin: top;
    transform: scale(1, 0);
    transition: var(--transition);
  }
}
