/* Montserrat */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
/* Caveat */
@import url("https://fonts.googleapis.com/css2?family=Caveat:wght@400;500;600;700&display=swap");
:root {
  --piratechs: #2b4261;
  --main: #ff1c0b;
  --junior: #09589c;
  --fullStack: #ff1c0b;
  --silver: #c5c5c5;
  --secondary: #3c3c3c;
  --transition: 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
  --bg: #1f1f1f;
  --mainGlass: rgba(255, 28, 11, 0.6);
  --blackGlass: rgba(0, 0, 0, 0.75);
  --authGlass: rgba(0, 0, 0, 0.05);
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*:not(i) {
  font-family: "Montserrat" !important;
}

iframe {
  display: none;
}

body {
  margin: 0;
  font-family: "Montserrat" !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
  background: black;
  min-height: 100vh;
  -webkit-animation: fadeIn 1000ms ease-in-out;
          animation: fadeIn 1000ms ease-in-out;
}

.content {
  color: white;
  font-family: "montserrat";
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: var(--transition);
  transition: var(--transition);
}

.content .inner {
  width: 100%;
  padding: 5em 0;
  text-shadow: 0 1px 2px black;
  background-size: contain !important;
  background-repeat: repeat-y !important;
  background: -webkit-gradient(linear, left bottom, left top, color-stop(0, rgba(0, 0, 0, 0.8)), color-stop(55%, rgba(0, 0, 0, 0)), color-stop(5%, var(--authGlass)), to(rgba(0, 0, 0, 0.8))), url("https://assets.nflxext.com/ffe/siteui/vlv3/757ab38f-5d08-40bc-b3eb-eaba63ed8203/93c34f94-56c8-40a7-8b2e-b4aac6427977/GB-en-20210125-popsignuptwoweeks-perspective_alpha_website_medium.jpg");
  background: linear-gradient(to top, rgba(0, 0, 0, 0.8) 0, rgba(0, 0, 0, 0) 55%, var(--authGlass) 5%, rgba(0, 0, 0, 0.8) 100%), url("https://assets.nflxext.com/ffe/siteui/vlv3/757ab38f-5d08-40bc-b3eb-eaba63ed8203/93c34f94-56c8-40a7-8b2e-b4aac6427977/GB-en-20210125-popsignuptwoweeks-perspective_alpha_website_medium.jpg");
  -webkit-transition: var(--transition);
  transition: var(--transition);
}

@media (max-width: 992px) {
  .content .inner {
    width: 99%;
  }
  .content .inner .initial {
    text-align: center !important;
  }
  .content .inner .initial h2 {
    display: none;
  }
}

.content .inner .initial {
  text-align: left;
  padding: 1em 0em 1em 8em;
  -webkit-transition: var(--transition);
  transition: var(--transition);
}

.content .inner h1 {
  font-size: 3em;
  -webkit-transition: var(--transition);
  transition: var(--transition);
}

.content .inner h2 {
  font-weight: 500;
  -webkit-transition: var(--transition);
  transition: var(--transition);
}

.content .inner h3 {
  font-weight: 500;
  -webkit-transition: var(--transition);
  transition: var(--transition);
}

.content .inner form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 70% !important;
  margin: 0 auto;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: var(--transition);
  transition: var(--transition);
}

.content .inner form input {
  width: 65% !important;
  outline: 0;
  padding: 0.55em 1em;
  border: none;
  border-radius: 0;
  border-top-left-radius: 7px;
  border-bottom-left-radius: 7px;
  -webkit-transition: var(--transition);
  transition: var(--transition);
}

.content .inner form button {
  width: 30% !important;
  padding: 0.55em 1em;
  background: var(--main);
  border-radius: 0;
  border-top-right-radius: 7px;
  border-bottom-right-radius: 7px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  grid-gap: 0.5em;
  -webkit-transition: var(--transition);
  transition: var(--transition);
}

.content .inner form button:hover {
  background: var(--secondary);
}

.multiple .inner {
  background-size: contain !important;
  background-repeat: repeat-y !important;
  background: -webkit-gradient(linear, left bottom, left top, color-stop(30%, rgba(0, 0, 0, 0.55)), color-stop(20%, rgba(0, 0, 0, 0)), color-stop(20%, var(--authGlass)), color-stop(30%, rgba(0, 0, 0, 0.55))), url("https://assets.nflxext.com/ffe/siteui/vlv3/757ab38f-5d08-40bc-b3eb-eaba63ed8203/93c34f94-56c8-40a7-8b2e-b4aac6427977/GB-en-20210125-popsignuptwoweeks-perspective_alpha_website_medium.jpg") !important;
  background: linear-gradient(to top, rgba(0, 0, 0, 0.55) 30%, rgba(0, 0, 0, 0) 20%, var(--authGlass) 20%, rgba(0, 0, 0, 0.55) 30%), url("https://assets.nflxext.com/ffe/siteui/vlv3/757ab38f-5d08-40bc-b3eb-eaba63ed8203/93c34f94-56c8-40a7-8b2e-b4aac6427977/GB-en-20210125-popsignuptwoweeks-perspective_alpha_website_medium.jpg") !important;
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

main {
  margin-top: 0em;
  z-index: 15;
  min-height: 96vh;
  -webkit-animation: fadeIn 1000ms ease-in-out;
          animation: fadeIn 1000ms ease-in-out;
}

button {
  -webkit-transition: var(--transition);
  transition: var(--transition);
}

button:not(.iconButton) {
  -webkit-transition: var(--transition);
  transition: var(--transition);
  padding: 0.375em 2em !important;
}

div[role="presentation"] {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: "Montserrat";
  font-size: 2em !important;
  color: white;
  -webkit-transition: var(--transition);
  transition: var(--transition);
}

div[role="presentation"] button {
  font-family: "Montserrat";
  font-size: 2em !important;
  color: white;
  -webkit-transition: var(--transition);
  transition: var(--transition);
}

.hoverLink {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  grid-gap: 0.3em;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  -webkit-transition: var(--transition);
  transition: var(--transition);
}

.hoverLink::before {
  content: "";
  background: var(--main);
  position: absolute;
  width: 100%;
  height: 1px;
  display: block;
  bottom: -3px;
  right: 0;
  z-index: -100;
  -webkit-transform-origin: 0% 100%;
          transform-origin: 0% 100%;
  -webkit-transform: scale(0, 1);
          transform: scale(0, 1);
  -webkit-transition: var(--transition);
  transition: var(--transition);
}

.hoverLink:hover {
  -webkit-transition: var(--transition);
  transition: var(--transition);
}

.hoverLink:hover::before {
  -webkit-transform: scale(1, 1);
          transform: scale(1, 1);
  -webkit-transition: 500ms ease-in-out;
  transition: 500ms ease-in-out;
}

::-webkit-scrollbar {
  display: none;
  height: 10px;
  background: #1f1f1f;
  -webkit-transition: var(--transition);
  transition: var(--transition);
}

::-webkit-scrollbar-thumb {
  background: var(--secondary);
  border-radius: 0px;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

::-webkit-scrollbar-thumb:hover {
  background: #4d4d4d;
}

.App {
  text-align: center;
}

.App-logo {
  height: 10vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    -webkit-animation: App-logo-spin infinite 20s linear;
            animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: var(--secondary);
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #ffffff !important;
  font-size: 1.3em;
}

@-webkit-keyframes App-logo-spin {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes App-logo-spin {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

::-webkit-input-placeholder {
  font-family: "Montserrat";
  color: var(--secondary);
  letter-spacing: 1.8;
}

:-ms-input-placeholder {
  font-family: "Montserrat";
  color: var(--secondary);
  letter-spacing: 1.8;
}

::-ms-input-placeholder {
  font-family: "Montserrat";
  color: var(--secondary);
  letter-spacing: 1.8;
}

::placeholder {
  font-family: "Montserrat";
  color: var(--secondary);
  letter-spacing: 1.8;
}

body,
#root,
.App,
header {
  width: 100% !important;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

/* iPhone SE */
@media only screen and (max-width: 480px) {
  body {
    width: 100vw;
  }
}
/*# sourceMappingURL=App.css.map */