.MuiBackdrop-root {
  backdrop-filter: blur(5px);
  background: var(--blackGlass) !important;
  transition: var(--transition);
}

.dashboard {
  color: var(--silver);
  display: flex !important;
  flex-direction: column;
  width: 100% !important;
  transition: var(--transition);
  .index {
    font-weight: 700;
    font-family: "montserrat" !important;
    color: var(--silver);
    background: var(--mainGlass);
    border-radius: 100px;
    font-size: 0.85em !important;
    min-height: 14px;
    min-width: 14px;
    display: flex !important;
    justify-content: center;
    align-items: center !important;
    transition: var(--transition);
  }
  .dashboardInner {
    border-radius: 4px;
    display: flex !important;
    flex-direction: column;
    width: 100% !important;
    margin: 0 auto;
    overflow: auto;
    transition: var(--transition);
    .dashboardRow {
      justify-content: space-between;
      padding: 0.3em 0.5em;
      font-size: 0.55em;
      width: 100% !important;
      display: flex !important;
      grid-gap: 0.4em;
      cursor: pointer;
      transition: var(--transition);
      .titleField {
        text-align: left !important;
        display: flex;
        align-items: center;
        grid-gap: 0.35em;
        padding: 0.35em;
        font-size: 0.85em;
        transition: var(--transition);
        i {
          color: var(--mainGlass);
          transition: var(--transition);
        }
      }
      &:hover {
        color: white !important;
        span {
          i {
            color: var(--main) !important;
          }
          .index {
            background: var(--main) !important;
            color: white !important;
          }
          &:hover {
            .index {
              color: white !important;
            }
          }
        }
      }
    }
    .dashboardTitleInnerRow {
      font-size: 1em;
      grid-gap: 0;
      padding: 0em;
      margin-bottom: 0.5em;
      transition: var(--transition);
      div {
        border-bottom: 3px solid var(--main);
        padding-bottom: 0.5em;
        margin-bottom: 0.5em;
        transition: var(--transition);
        &:hover {
          color: white !important;
        }
      }
      &:hover {
        color: var(--silver) !important;
      }
    }
  }
}

.list {
  position: relative !important;
}

.listItems {
  color: white;
  top: -10px;
  left: -5px;
  display: flex;
  position: absolute;
  align-items: center;
  justify-content: center;
  font-family: montserrat;
  font-weight: 500;
  font-size: 0.69em;
  width: 19.5px;
  height: 19.5px;
  padding: 0.5em;
  border-radius: 100%;
  background: var(--main);
}

.user {
  cursor: pointer;
}

ul {
  margin: 0;
  padding: 0;
  display: flex;
  list-style: none;
  align-items: center;
  transition: var(--transition);
  li:not(.right) {
    text-decoration: none;
    font-family: "Montserrat";
    color: var(--silver);
    transition: var(--transition) !important;
    &:hover {
      color: white;
    }
    a {
      text-decoration: none;
      cursor: pointer;
      font-family: "Montserrat";
      color: #f2f2f2;
      transition: var(--transition) !important;
      &:hover {
        color: white;
      }
    }
  }
  li {
    transition: var(--transition) !important;
  }
}

ul.dash {
  grid-gap: 20px;
  // grid-gap: 0.325em;
  transition: var(--transition) !important;
}

.iconButton {
  &:hover {
    background: var(--mainGlass);
    .listIcon {
      .indexCircle {
        color: var(--main);
        background: var(--secondary) !important;
      }
    }
  }
}

.name {
  width: 67% !important;
}

.date {
  width: 30% !important;
}

.votes,
.rating {
  width: 15% !important;
}

.delete {
  width: 38% !important;
}

.customList {
  margin-top: -60px;
}

.titleRowName {
  .index {
    color: var(--silver) !important;
    font-size: 15px !important;
    width: 1.25em !important;
    height: 1.25em !important;
    min-width: 1.25em !important;
    max-width: 1.25em !important;
    min-height: 1.25em !important;
    cursor: pointer;
    margin: 0.45em 0;
    background: var(--main);
    border-radius: 100px;
    transition: var(--transition);
    &:hover {
      background: var(--secondary);
    }
    .indexNumber {
      bottom: -4px;
      position: relative;
    }
  }
}

.delete {
  .index {
    .indexNumber {
      bottom: -4px;
      position: relative;
    }
    color: var(--silver) !important;
    font-size: 15px !important;
    width: 20px !important;
    height: 20px !important;
    min-width: 20px !important;
    max-width: 20px !important;
    min-height: 20px !important;
    margin: 0.45em 0;
  }
}
