header {
  display: flex;
  position: fixed;
  top: 0;
  z-index: 100;
  justify-content: center;
  align-items: center;
  width: 100%;
  background: linear-gradient(black 30%, transparent);
  color: white;
  font-family: montserrat;
  padding: 1.5em 0;
  animation: fadeIn 1000ms ease-in-out;
  transition: var(--transition);
  .inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 93%;
    .customAvatar {
      transition: var(--transition);
      &:hover {
        filter: grayscale(1);
      }
    }
    .navigation {
      display: flex;
      ul.right {
        grid-gap: 0.325em;
        .list {
          position: relative !important;
          .listItems {
            position: absolute;
            top: -10px;
            right: -10px;
            background: rgba(255, 0, 0, 0.5);
            display: flex;
            justify-content: center;
            align-items: center;
            font-family: montserrat;
            font-weight: 500;
            font-size: 0.85em;
            width: 19px;
            height: 19px;
            padding: 0.3em;
            border-radius: 100%;
          }
        }
      }
      ul {
        margin: 0;
        padding: 0;
        display: flex;
        list-style: none;
        align-items: center;
        transition: var(--transition);
        .iconButton {
          color: white;
          padding: 0 !important;
          margin: 0 !important;
          width: 35px !important;
          height: 35px !important;
          background: var(--authGlass);
          display: flex;
          justify-content: center;
          align-items: center;
          min-width: 0;
          backdrop-filter: blur(3px);
          transition: var(--transition);
          i {
            transition: var(--transition);
            span {
              transition: var(--transition);
            }
          }
          &:hover {
            i {
              span {
                background: var(--secondary) !important;
              }
            }
            background: var(--mainGlass);
          }
        }
        .authButton {
          transition: var(--transition);
          button {
            display: flex;
            grid-gap: 0.5em;
            padding: 0.3em 1em;
            font-family: "montserrat";
            border-radius: 7px;
            background: var(--main);
            transition: var(--transition);
            &:hover {
              background: var(--secondary);
            }
          }
        }
        li:not(.right) {
          margin-left: 20px;
          text-decoration: none;
          font-family: "Montserrat";
          color: #f2f2f2;
          transition: 0.3s ease-in-out !important;
          &:hover {
            color: white;
          }
          a {
            text-decoration: none;
            cursor: pointer;
            font-family: "Montserrat";
            color: #f2f2f2;
            transition: 0.3s ease-in-out !important;
            &:hover {
              color: white;
            }
          }
        }
      }
      .logo {
        max-width: 100px;
        height: auto;
        margin-right: 10px;
      }
    }
    .user {
      display: flex;
      align-items: center;
      position: relative;
      margin-left: 12px !important;
      transition: var(--transition);
      .avatar {
        max-height: 35px;
        border-radius: 5px;
        margin-left: 20px;
        width: auto;
        transition: var(--transition);
        // filter: hue-rotate(180deg);
      }
      .caret {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: 10px;
        transition: 0.5s ease-in-out !important;
      }
      .logout {
        opacity: 0;
        position: absolute;
        top: 50px;
        left: 0;
        width: 100%;
        height: 100%;
        padding: 4em 1em;
        border-radius: 7px;
        backdrop-filter: blur(3px);
        background: var(--blackGlass);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        transition: var(--transition);
        p {
          margin-top: 0;
          transition: var(--transition);
        }
        .logoutButton {
          padding: 0.5em 2em;
          background: var(--main);
          display: flex;
          grid-gap: 0.5em;
          transition: var(--transition);
          &:hover {
            background: var(--secondary);
          }
        }
      }
      &:hover {
        cursor: pointer;
        .logout {
          opacity: 1;
        }
        .caret {
          i {
            transform: rotateZ(180deg);
          }
        }
      }
    }
  }
}

.scrolledHeader {
  background: var(--blackGlass);
  backdrop-filter: blur(5px);
}

.MuiBackdrop-root {
  backdrop-filter: blur(5px);
  transition: var(--transition);
  background: var(--blackGlass) !important;
}

.listOfMovies {
  color: var(--silver);
  display: flex !important;
  flex-direction: column;
  width: 69% !important;
  transition: var(--transition);
  .dashboard {
    padding: 3em;
    background: var(--blackGlass);
    backdrop-filter: blur(3px);
    border-radius: 7px;
    display: flex !important;
    flex-direction: column;
    width: 100% !important;
    margin: 0 auto;
    transition: var(--transition);
    .userNameColumn {
      padding-bottom: 0.5em;
      margin-bottom: 0.5em;
      border-bottom: 3px solid var(--main);
      display: inline-block;
      transition: var(--transition);
    }
    .dashboardRow {
      justify-content: space-between;
      padding: 0.3em 0;
      font-size: 0.6em;
      width: 100% !important;
      display: flex !important;
      transition: var(--transition);
      .titleField {
        text-align: left !important;
        display: flex;
        align-items: center;
        grid-gap: 0.3em;
        width: 100% !important;
        font-size: 0.85em;
        transition: var(--transition);
        i {
          color: var(--main);
          transition: var(--transition);
        }
      }
    }
    .dashboardTitleInnerRow {
      font-size: 1em;
      transition: var(--transition);
      div {
        border-bottom: 3px solid var(--main);
        padding-bottom: 0.5em;
        margin-bottom: 0.5em;
        transition: var(--transition);
      }
    }
  }
}
