header {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  background: black;
  color: white;
  font-family: montserrat;
  padding: 1em 0;
  .inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 96%;
    .logo {
      max-width: 185px;
      height: auto;
      @media (max-width: 992px) {
        max-width: 140px;
      }
    }
    .avatar {
      max-height: 50px;
      width: auto;
    }
  }
}
