header {
  display: flex;
  position: fixed;
  top: 0;
  z-index: 100;
  justify-content: center;
  align-items: center;
  width: 100%;
  background: linear-gradient(black 30%, transparent);
  color: white;
  font-family: montserrat;
  padding: 1.5em 0;
  animation: fadeIn 1000ms ease-in-out;
  transition: var(--transition);
  .inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 93%;
    .customAvatar {
      transition: var(--transition);
      &:hover {
        filter: grayscale(1);
      }
    }
    .navigation {
      display: flex;
      ul {
        margin: 0;
        padding: 0;
        display: flex;
        align-items: center;
        .authButton {
          transition: var(--transition);
          button {
            display: flex;
            grid-gap: 0.5em;
            padding: 0.3em 1em;
            font-family: "montserrat";
            border-radius: 7px;
            background: var(--main);
            transition: var(--transition);
            &:hover {
              background: var(--secondary);
            }
          }
        }
        li {
          list-style: none;
          margin-left: 20px;
          text-decoration: none;
          font-family: "Montserrat";
          color: #f2f2f2;
          transition: 0.3s ease-in-out !important;
          &:hover {
            color: white;
          }
          a {
            text-decoration: none;
            cursor: pointer;
            font-family: "Montserrat";
            color: #f2f2f2;
            transition: 0.3s ease-in-out !important;
            &:hover {
              color: white;
            }
          }
        }
      }
      .logo {
        max-width: 100px;
        height: auto;
        margin-right: 10px;
      }
    }
    .user {
      display: flex;
      align-items: center;
      position: relative;
      transition: var(--transition);
      .avatar {
        max-height: 35px;
        border-radius: 5px;
        margin-left: 20px;
        width: auto;
        transition: var(--transition);
        // filter: hue-rotate(180deg);
      }
      .caret {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: 10px;
        transition: 0.5s ease-in-out !important;
      }
      .logout {
        opacity: 0;
        position: absolute;
        top: 50px;
        left: 0;
        width: 100%;
        height: 100%;
        padding: 4em 1em;
        border-radius: 7px;
        backdrop-filter: blur(3px);
        background: var(--blackGlass);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        transition: var(--transition);
        p {
          margin-top: 0;
          transition: var(--transition);
        }
        .logoutButton {
          padding: 0.5em 2em;
          background: var(--main);
          display: flex;
          grid-gap: 0.5em;
          transition: var(--transition);
          &:hover {
            background: var(--secondary);
          }
        }
      }
      &:hover {
        cursor: pointer;
        .logout {
          opacity: 1;
        }
        .caret {
          i {
            transform: rotateZ(180deg);
          }
        }
      }
    }
  }
}

.scrolledHeader {
  background: var(--blackGlass);
  backdrop-filter: blur(5px);
}
