header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: fixed;
  top: 0;
  z-index: 100;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(30%, black), to(transparent));
  background: linear-gradient(black 30%, transparent);
  color: white;
  font-family: montserrat;
  padding: 1.5em 0;
  -webkit-animation: fadeIn 1000ms ease-in-out;
          animation: fadeIn 1000ms ease-in-out;
  -webkit-transition: var(--transition);
  transition: var(--transition);
}

header .inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 93%;
}

header .inner .customAvatar {
  -webkit-transition: var(--transition);
  transition: var(--transition);
}

header .inner .customAvatar:hover {
  -webkit-filter: grayscale(1);
          filter: grayscale(1);
}

header .inner .navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

header .inner .navigation ul {
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: var(--transition);
  transition: var(--transition);
}

header .inner .navigation ul .iconButton {
  color: white;
  font-size: 1.2em;
  font-weight: 500 !important;
  margin: 0 !important;
  width: 20px !important;
  height: 20px !important;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background: var(--authGlass);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-width: 0;
  -webkit-backdrop-filter: blur(3px);
          backdrop-filter: blur(3px);
  -webkit-transition: var(--transition) !important;
  transition: var(--transition) !important;
}

header .inner .navigation ul .iconButton .modalButton {
  -webkit-transition: var(--transition);
  transition: var(--transition);
  min-width: 20px !important;
}

header .inner .navigation ul .iconButton .buttonText {
  display: none;
  -webkit-transition: var(--transition);
  transition: var(--transition);
}

header .inner .navigation ul .iconButton .listIcon {
  -webkit-transition: var(--transition) !important;
  transition: var(--transition) !important;
}

header .inner .navigation ul .iconButton .listIcon .indexCircle {
  -webkit-transition: var(--transition) !important;
  transition: var(--transition) !important;
}

header .inner .navigation ul .iconButton:hover {
  background: var(--mainGlass);
}

header .inner .navigation ul .iconButton:hover .listIcon .indexCircle {
  color: var(--main);
  background: var(--secondary) !important;
}

header .inner .navigation ul .authButton {
  -webkit-transition: var(--transition);
  transition: var(--transition);
}

header .inner .navigation ul .authButton button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  grid-gap: 0.5em;
  padding: 0.3em 1em;
  font-family: "montserrat";
  border-radius: 7px;
  background: var(--main);
  -webkit-transition: var(--transition);
  transition: var(--transition);
}

header .inner .navigation ul .authButton button:hover {
  background: var(--secondary);
}

header .inner .navigation ul li:not(.right) {
  margin-left: 20px;
  text-decoration: none;
  font-family: "Montserrat";
  color: #f2f2f2;
  -webkit-transition: 0.3s ease-in-out !important;
  transition: 0.3s ease-in-out !important;
}

header .inner .navigation ul li:not(.right):hover {
  color: white;
}

header .inner .navigation ul li:not(.right) a {
  text-decoration: none;
  cursor: pointer;
  font-family: "Montserrat";
  color: #f2f2f2;
  -webkit-transition: 0.3s ease-in-out !important;
  transition: 0.3s ease-in-out !important;
}

header .inner .navigation ul li:not(.right) a:hover {
  color: white;
}

header .inner .navigation .logo {
  max-width: 100px;
  height: auto;
  margin-right: 10px;
}

header .inner .user {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  margin-left: 12px !important;
  -webkit-transition: var(--transition);
  transition: var(--transition);
}

header .inner .user .avatar {
  max-height: 35px;
  border-radius: 5px;
  margin-left: 20px;
  width: auto;
  -webkit-transition: var(--transition);
  transition: var(--transition);
}

header .inner .user .caret {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 10px;
  -webkit-transition: 0.5s ease-in-out !important;
  transition: 0.5s ease-in-out !important;
}

header .inner .user .logout {
  opacity: 0;
  position: absolute;
  top: 50px;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 4em 1em;
  border-radius: 7px;
  -webkit-backdrop-filter: blur(3px);
          backdrop-filter: blur(3px);
  background: var(--blackGlass);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: var(--transition);
  transition: var(--transition);
}

header .inner .user .logout p {
  margin-top: 0;
  -webkit-transition: var(--transition);
  transition: var(--transition);
}

header .inner .user .logout .logoutButton {
  padding: 0.5em 2em;
  background: var(--main);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  grid-gap: 0.5em;
  -webkit-transition: var(--transition);
  transition: var(--transition);
}

header .inner .user .logout .logoutButton:hover {
  background: var(--secondary);
}

header .inner .user:hover {
  cursor: pointer;
}

header .inner .user:hover .logout {
  opacity: 1;
}

header .inner .user:hover .caret i {
  -webkit-transform: rotateZ(180deg);
          transform: rotateZ(180deg);
}

.scrolledHeader {
  background: var(--blackGlass);
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
}

.customAvatar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 35px;
  height: 35px;
  border-radius: 7px;
  font-size: 18px;
  margin: 0 auto;
  background: var(--main);
  cursor: pointer;
  margin-left: 20px;
  -webkit-transition: var(--transition);
  transition: var(--transition);
}
/*# sourceMappingURL=header.css.map */