.banner {
  color: white;
  font-family: "Montserrat" !important;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 600px;
  -o-object-fit: contain;
     object-fit: contain;
  position: relative;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-shadow: 0 1px 2px black;
  -webkit-transition: var(--transition);
  transition: var(--transition);
}

.banner .innerBanner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 85%;
  text-align: left;
  grid-gap: 1em;
}

.banner .innerBanner .titleData {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  grid-gap: 0.5em;
}

.banner .innerBanner .titleData .data {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  text-align: right;
  grid-gap: 1em;
  padding-bottom: 1em;
}

.banner .innerBanner .titleData .data span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  grid-gap: 0.5em;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  text-align: right;
  font-size: 1.2em;
}

.banner .innerBanner .titleData .data span i {
  font-size: 0.8em;
  color: var(--main);
}

.banner .innerBanner h1 {
  font-weight: 700;
  width: 100%;
  letter-spacing: 1.8;
  font-size: 3em;
  margin-bottom: 0.2em;
}

@media (max-width: 992px) {
  .banner .innerBanner h1 {
    width: 100%;
  }
}

.banner .innerBanner p {
  font-weight: 500;
  width: 43%;
}

@media (max-width: 992px) {
  .banner .innerBanner p {
    width: 100%;
  }
}

.bannerButtons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  grid-gap: 1em;
  -webkit-transition: var(--transition);
  transition: var(--transition);
}

.bannerButtons button {
  cursor: pointer;
  border: none;
  outline: none;
  font-weight: 500;
  border-radius: 0.3vw;
  padding: 0.5rem 2rem 0.5rem 2rem;
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center !important;
      -ms-flex-align: center !important;
          align-items: center !important;
  grid-gap: 0.5em;
  font-size: 1em;
  color: black;
  background: #f2f2f2;
  -webkit-transition: var(--transition);
  transition: var(--transition);
}

.bannerButtons button:hover {
  color: white;
  background: var(--bg);
}

.animatedBanner {
  -webkit-animation: backgroundMove 10s ease-in-out infinite alternate, fadeIn 1000ms ease-in-out !important;
          animation: backgroundMove 10s ease-in-out infinite alternate, fadeIn 1000ms ease-in-out !important;
}

.scrolledBanner {
  background-attachment: fixed;
  background-position: 50% 15%;
  background-size: cover;
  position: relative;
  -webkit-animation: fadeIn 1000ms ease-in-out !important;
          animation: fadeIn 1000ms ease-in-out !important;
  -webkit-transition: var(--transition);
  transition: var(--transition);
}

.scrolledBanner::before {
  content: "";
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  position: absolute;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(90%, rgba(0, 0, 0, 0.1)), color-stop(var(--blackGlass)), to(black));
  background: linear-gradient(rgba(0, 0, 0, 0.1) 90%, var(--blackGlass), black);
}

@-webkit-keyframes backgroundMove {
  0% {
    background-position: 50% 69%;
  }
  100% {
    background-position: 50% 15%;
  }
}

@keyframes backgroundMove {
  0% {
    background-position: 50% 69%;
  }
  100% {
    background-position: 50% 15%;
  }
}
/*# sourceMappingURL=banner.css.map */