// Footer Styling

#footer-text {
  text-transform: uppercase;
}

.footer {
  background: black;
  color: var(--silver);
  font-family: "Montserrat" !important;
  height: 40px;
  backdrop-filter: blur(8px);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0;
  flex-wrap: wrap;
  font-weight: 400 !important;
  font-size: 13px;
  grid-gap: 0px;
  z-index: 1;
  width: 100% !important;
  border-top: 2px solid var(--main);
  animation: fadeIn 1000ms ease-in-out;
  transition: var(--transition);
  .innerFooter {
    display: flex;
    width: 95%;
    justify-content: space-between;
    margin: 0 auto;
    .siteDesign {
      display: flex;
      align-items: center;
      height: 100%;
      grid-gap: 0.3em;
    }
  }
  a {
    color: var(--silver) !important;
    font-family: "Montserrat";
    text-decoration: none;
    font-weight: 400 !important;
    transition: var(--transition);
    i {
      transition: var(--transition);
    }
    svg {
      max-height: 19px;
      object-fit: contain;
      transition: var(--transition);
      path {
        fill: var(--silver);
        transition: var(--transition);
      }
      &:hover {
        path {
          fill: white;
        }
      }
    }
    &:hover {
      i {
        color: white;
      }
    }
  }
}

footer i,
.vertical-sep {
  color: var(--silver);
}
