// Footer Styling

#footer-text {
  text-transform: uppercase;
}

footer {
  background: black;
  color: white;
  font-family: "Montserrat" !important;
  margin-top: 2em;
  height: 40px;
  backdrop-filter: blur(8px);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0;
  flex-wrap: wrap;
  font-weight: 400 !important;
  font-size: 13px;
  grid-gap: 0px;
  z-index: 1;
  width: 100% !important;
  border-top: 2px solid white;
  .innerFooter {
    display: flex;
    width: 95%;
    justify-content: space-between;
    margin: 0 auto;
  }
  a {
    color: white !important;
    font-family: "Montserrat";
    text-decoration: none;
    font-weight: 400 !important;
  }
}

footer i,
.vertical-sep {
  color: #fff;
}
