.row {
  color: white !important;
  font-family: montserrat;
  padding: 1em 1em 1em 8em;
}

.row .react-Slidy {
  height: 100% !important;
  width: 100% !important;
  font-size: 0.75em !important;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  grid-gap: 1em;
  overflow-x: scroll;
  overflow-y: hidden;
  min-height: var(--posterH) !important;
  max-height: var(--posterH) !important;
  -webkit-transition: var(--transition);
  transition: var(--transition);
}

.row .react-Slidy div ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  grid-gap: 1em;
  overflow-x: auto;
  overflow-y: hidden !important;
}

.row .react-Slidy div ul li {
  max-width: var(--posterW) !important;
}

.row .react-Slidy span {
  display: none;
}

.row .titleRow {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  padding-right: 3em;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.row .titleRow button {
  text-transform: none !important;
}

.row .titleRow button .indexCircle {
  right: -8px !important;
  left: unset !important;
}

.row h2 {
  text-align: left;
  font-weight: 700;
  font-size: 3em;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  grid-gap: 20px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (min-width: 768px) {
  .row h2 .rowTotal {
    padding-right: 2.3em !important;
  }
}

.row h2 .index {
  font-weight: 700;
  font-family: "montserrat" !important;
  color: var(--silver);
  background: var(--mainGlass);
  border-radius: 100px;
  font-size: 0.975em !important;
  min-height: 14px;
  min-width: 14px;
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center !important;
      -ms-flex-align: center !important;
          align-items: center !important;
  -webkit-transition: var(--transition);
  transition: var(--transition);
}

.row h2 .index .indexNumber {
  top: 0;
  bottom: 0;
  position: relative;
  font-size: 0.85em !important;
}

.row .rowTitle {
  text-align: left;
  font-weight: 500;
  font-size: 1.3em;
}

.row .movieRow {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  grid-gap: 1em;
  overflow-x: scroll;
  overflow-y: hidden;
  -webkit-transition: var(--transition);
  transition: var(--transition);
}

.row .movieRow::-webkit-scrollbar {
  display: none;
}

.row .movieRow span {
  width: 100%;
}

@media (max-width: 1366px) {
  .row {
    padding: 1em 1em 1em 4em !important;
  }
}

@media (max-width: 768px) {
  .row {
    padding: 1em 1em 1em 2em !important;
  }
  .row .titleRow,
  .row .rowTotal {
    padding-right: 1em !important;
  }
  .row h2 {
    font-size: 2.3em !important;
    padding: 0.5em 0;
    grid-gap: 5px;
  }
}

.topicRow:last-child {
  margin-bottom: 3em;
}

@media (max-width: 768px) {
  .customList .titleRow {
    margin-bottom: -1.5em !important;
  }
  .topicRow .rowTitle {
    font-size: 1.2em !important;
  }
}
/*# sourceMappingURL=row.css.map */