.row {
  color: white !important;
  font-family: montserrat;
  padding: 1em 1em 1em 8em;
  .react-Slidy {
    height: 100% !important;
    width: 100% !important;
    font-size: 0.75em !important;
    display: flex;
    grid-gap: 1em;
    overflow-x: scroll;
    overflow-y: hidden;
    min-height: var(--posterH) !important;
    max-height: var(--posterH) !important;
    transition: var(--transition);
    div {
      ul {
        display: flex;
        grid-gap: 1em;
        overflow-x: auto;
        overflow-y: hidden !important;
        li {
          max-width: var(--posterW) !important;
        }
      }
    }
    span {
      display: none;
    }
  }
  .titleRow {
    display: flex;
    align-items: center;
    width: 100%;
    padding-right: 3em;
    justify-content: space-between;
    button {
      text-transform: none !important;
      .indexCircle {
        right: -8px !important;
        left: unset !important;
      }
      // flex-direction: row-reverse;
    }
  }
  h2 {
    text-align: left;
    font-weight: 700;
    font-size: 3em;
    height: 100%;
    display: flex;
    align-items: center;
    grid-gap: 20px;
    justify-content: space-between;
    .rowTotal {
      @media (min-width: 768px) {
        padding-right: 2.3em !important;
      }
    }
    .index {
      font-weight: 700;
      font-family: "montserrat" !important;
      color: var(--silver);
      background: var(--mainGlass);
      border-radius: 100px;
      font-size: 0.975em !important;
      min-height: 14px;
      min-width: 14px;
      display: flex !important;
      justify-content: center;
      align-items: center !important;
      transition: var(--transition);
      .indexNumber {
        top: 0;
        bottom: 0;
        position: relative;
        font-size: 0.85em !important;
      }
    }
  }
  .rowTitle {
    text-align: left;
    font-weight: 500;
    font-size: 1.3em;
  }
  .movieRow {
    display: flex;
    grid-gap: 1em;
    overflow-x: scroll;
    overflow-y: hidden;
    transition: var(--transition);
    // @media (max-width: 992px) {
    //   flex-wrap: wrap;
    // }
    &::-webkit-scrollbar {
      // display: flex;
      display: none;
    }
    span {
      width: 100%;
    }
  }
  @media (max-width: 1366px) {
    padding: 1em 1em 1em 4em !important;
  }
  @media (max-width: 768px) {
    padding: 1em 1em 1em 2em !important;
    .titleRow,
    .rowTotal {
      padding-right: 1em !important;
    }
    h2 {
      font-size: 2.3em !important;
      padding: 0.5em 0;
      grid-gap: 5px;
    }
  }
}

.topicRow {
  &:last-child {
    margin-bottom: 3em;
  }
}

@media (max-width: 768px) {
  .customList .titleRow {
    margin-bottom: -1.5em !important;
  }
  .topicRow {
    .rowTitle {
      font-size: 1.2em !important;
    }
  }
}
