.row {
  color: white !important;
  font-family: montserrat;
  padding: 1em 1em 1em 8em;
  &:last-child {
    margin-bottom: 3em;
  }
  h2 {
    text-align: left;
    font-weight: 500;
    font-size: 1.3em;
  }
  .movieRow {
    display: flex;
    grid-gap: 1em;
    overflow-x: scroll;
    overflow-y: hidden;
    transition: var(--transition);
    @media (max-width: 992px) {
      flex-wrap: wrap;
    }
    &::-webkit-scrollbar {
      // display: flex;
      display: none;
    }
    span {
      width: 100%;
    }
    .movie {
      object-fit: cover !important;
      max-height: 250px !important;
      max-width: 165px !important;
      animation: skeleton 1s ease-in-out infinite alternate;
      transition: 0.5s ease-in-out !important;
      position: relative;
      &:hover {
        cursor: pointer;
        transform: scale(1.08);
        .overlay {
          opacity: 1 !important;
          padding: 1.5em !important;
          height: 100% !important;
          h2 {
            text-align: left !important;
          }
          .data {
            display: flex !important;
          }
          .movieDescription {
            opacity: 1 !important;
          }
        }
      }
    }
    .skeleton {
      display: flex;
      justify-content: center;
      align-items: center;
      max-height: 250px !important;
      max-width: 165px !important;
      width: 100%;
      color: white;
      transition: 0.5s ease-in-out;
      animation: skeleton 1s ease-in-out;
      .icon {
        height: 50px;
        width: auto;
      }
    }
  }
}

.overlay {
  height: 20%;
  opacity: 1;
  z-index: 1;
  padding: 0.5em 1.5em 0.5em;
  font-size: 0.75em;
  position: absolute;
  bottom: 0;
  left: 0;
  margin: 0 auto;
  object-fit: cover !important;
  max-height: 250px !important;
  max-width: 165px !important;
  width: 100% !important;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  text-align: left !important;
  background: var(--blackGlass);
  backdrop-filter: blur(5px);
  transition: var(--transition);
  i {
    font-size: 0.8em;
    color: var(--main);
    transition: var(--transition);
  }
  h2 {
    width: 100%;
    font-size: 1.1em;
    text-align: left;
    transition: var(--transition);
  }
  .movieDescription {
    opacity: 0;
    transition: var(--transition);
  }
  .titleData {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    grid-gap: 0.5em;
    transition: var(--transition);
    .data {
      display: none;
      width: 100%;
      flex-direction: column;
      justify-content: flex-end;
      align-items: flex-end;
      text-align: right;
      animation: fadeIn 100ms ease-in-out;
      transition: var(--transition);
      span {
        display: flex;
        grid-gap: 0.5em;
        align-items: center;
        justify-content: flex-end;
        text-align: right;
        font-size: 0.85em;
        transition: var(--transition);
      }
    }
  }
}

@keyframes skeleton {
  0% {
    background: var(--secondary);
    box-shadow: inset 0 0 0 0 rgba(255, 255, 255, 0.3);
  }
  70% {
    box-shadow: inset 0 0 0 10px rgba(255, 255, 255, 0);
  }
  100% {
    background: var(--bg);
    box-shadow: inset 0 0 0 0 rgba(255, 255, 255, 0);
  }
}
