.row {
  color: white !important;
  font-family: montserrat;
  padding: 1em 1em 1em 8em;
  h2 {
    text-align: left;
    font-weight: 500;
    font-size: 1.3em;
  }
  &:last-child {
    margin-bottom: 3em;
  }
  .rowTitle {
    text-align: left;
    font-weight: 500;
    font-size: 1.3em;
  }
  .movieRow {
    display: flex;
    grid-gap: 1em;
    overflow-x: scroll;
    overflow-y: hidden;
    transition: var(--transition);
    @media (max-width: 992px) {
      flex-wrap: wrap;
    }
    &::-webkit-scrollbar {
      // display: flex;
      display: none;
    }
    span {
      width: 100%;
    }
  }
}
